{% extends 'aboutbase.html'%}


{% block whoami%}
    <section id="whoami" class="slant top bottom">
		<div class="container">
			<div class="row">
				<h2>Who Am I</h2>
				<div class="sm-line"></div>
				<h2>刘功勋</h2>
				<div class="wai-content col-md-8 col-md-offset-2">
					<p class="lead">
						卡耐基梅隆大学电子计算机工程系硕士在读 曾任北京新东方口语教师 托福口语满分 </p>

					<p>著有《Thirsty for Thirty》《机经小册子》</p> 

					<p>喜欢打码 讲课 健身 爵士乐</p>

					<p>致力于利用一切技术手段改善教育体验</p>
				</div>
			</div>
		</div>
	</section>
{% endblock%}



{% block whatidobest%}
<section id="whatidobest">
		<div class="container-fluid">

			<h2 class="section-title">What I do best</h2>
			<div class="sm-line"></div>
			
				<div class="row">
					<div class="user-centered-design col-md-7">
						<img src="/media/images/icon-pencil-notebook.svg" alt="User Centered Design" height="75" width="92">
						<h2 class="widb-title">Student-centered<strong>Tutoring</strong></h2>

					
					</div>
					

					<div class="user-experience col-md-5">
						<img src="/media/images/icon-user-experience.svg" alt="User Experience Design" height="75" width="75" style="padding: 1px;">
						
						<h2 class="widb-title">英文&留学<strong>培训</strong></h2>
					</div>
				</div>

				
				<div class="row">
					<div class="front-end-development col-md-7 col-md-push-5">
						<img src="/media/images/icon-development.svg" alt="Responsive Front End Development" height="75" width="174">
						
						<h2 class="widb-title">Web&Moblie <strong>Development</strong></h2> 
					</div>
					
					<div class="strategy col-md-5 col-md-pull-7">
						<img src="/media/images/icon-strategy.svg" alt="Branding and Marketing Strategy" height="75" width="83">
						
						 <h2 class="widb-title">网站&移动<strong>开发</strong></h2>
						
					</div>
				</div>

				<div class="row">
					<div class="problem-solving col-md-7">
						<img src="/media/images/icon-lightbulb.svg" alt="Creative Problem Solving" height="75" width="70">
						<h2 class="widb-title">Creative<strong>Problem Solving</strong></h2> 
						
					</div>
					
					<div class="content-marketing col-md-5">
						<img src="/media/images/icon-content-marketing.svg" alt="Online Advertising and Content Marketing" height="75" width="76">
						
						<h2 class="widb-title">创意&推广<strong>咨询</strong></h2>
					</div>
				</div>

		</div>
	</section>
{% endblock %}

