{%extends 'base.html'%}
{% block title%}
<title>刘功勋 |  About</title>
{%endblock%}

{% block pagetemplate %}
<body class="page page-id-6 page-template page-template-page-about-php page-about">
{% endblock %}


{%block eachbase%}

	<div id="itsawrap">
	<section id="pagehero" class="container">
		<div class="row">
			<div class="title-contain col-md-7 col-md-offset-4">
				<div class="slash-left">
					<div class="page-title">
						<p class="pretitle">A look into what i'm really all</p>
						<h1>About</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="takeme">
				<a href="#whoami" class="orb"></a>
			</div>
		</div>
	</section>
	{% block whoami %}
	{% endblock %}

    {% block whatidobest%}
    {% endblock %}


    
    <section id="up-next">
		<div class="container">
			<div class="row">
				<div class="next-title">
					<p class="pretitle">Up Next:</p>
					
					
					<a href="/work/" title="Work"><h2>Work</h2></a>

				                 </div>
			</div>
		</div>
	</section>


	

	
	
</div><!-- #itsawrap -->

	
{% endblock %}

