{% extends 'workbase.html'%}

{% block worktitle %}
    <section id="selectedworkstitle" class="slant top">
		<div class="container">
			<div class="row">
				<h2>Selected Works</h2>
				<div class="sm-line"></div>
				<p class="lead">The latest and greatest.</p>
			</div>
		</div>
	</section>
{% endblock %}

{%block works%}
    <section id="selected-works">

		<div class="corestr work">
			<div class="slash-left">
				<div class="work-title">
					<h2>TFT口语小组</h2>
					<p class="subtitle">虐心. 开心. 痛苦. 涅槃.</p>
					<p class="btn"><a href="/work/xiaozu/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="recovercorp work">
			<div class="slash-left">
				<div class="work-title">
					<h2>后小组时代</h2>
					<p class="subtitle">用心. 贴心. 团队. 坚持. </p>
					<p class="btn"><a href="/work/recovercorp/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="adamos work">
			<div class="slash-left">
				<div class="work-title">
					<h2>小组文书服务</h2>
					<p class="subtitle">细腻. 定制. 名校. 品质.</p>
					<p class="btn"><a href="/work/adamos-pasta/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
		<div class="shade-sail-sydney work">
			<div class="slash-left">
				<div class="work-title">
					<h2>待定</h2>
					<p class="subtitle">待定. 待定. 待定. 待定.</p>
					<p class="btn"><a href="/work/shade-sail-sydney/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
			
	</section>
{% endblock %}
