{%extends 'base.html'%}
{%block title%}
	<title>刘功勋 |  Work</title>
{%endblock%}

{%block pagetemplate%}
	<body class="page page-id-8 page-parent page-template page-template-page-work-php page-work">
{%endblock%}

{%block eachbase%}

	<div id="itsawrap">

	<section id="pagehero" class="container">
		<div class="row">
			<div class="title-contain col-md-7 col-md-offset-4">
				<div class="slash-left">
					<div class="page-title">
						<p class="pretitle">When love and passion are involved, it's no longer</p>
						<h1>Work</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="takeme">
				<a href="#selectedworkstitle" class="orb"></a>
			</div>
		</div>
	</section>

    {% block worktitle %}
    {% endblock %}
	
	{%block works%}
	{% endblock %}

	<section id="up-next">
		<div class="container">
			<div class="row">
				<div class="next-title">
					<p class="pretitle">Up Next:</p>
					
					
					<a href="http://patkay.com.au/work/corestr/" title="coreSTR"><h2>coreSTR</h2></a>

									</div>
			</div>
		</div>
	</section>
	
</div><!-- #itsawrap -->


{%endblock%}