{%extends 'base.html'%}
{%block title%}
	<title>刘功勋 |  Work</title>
{%endblock%}

{%block pagetemplate%}
	<body class="page page-id-8 page-parent page-template page-template-page-work-php page-work">
{%endblock%}

{%block eachbase%}

	<div id="itsawrap">

	<section id="pagehero" class="container">
		<div class="row">
			<div class="title-contain col-md-7 col-md-offset-4">
				<div class="slash-left">
					<div class="page-title">
						<p class="pretitle">When love and passion are involved, it's no longer</p>
						<h1>Work</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="takeme">
				<a href="#selectedworkstitle" class="orb"></a>
			</div>
		</div>
	</section>


	<section id="selectedworkstitle" class="slant top">
		<div class="container">
			<div class="row">
				<h2>Selected Works</h2>
				<div class="sm-line"></div>
				<p class="lead">The latest and greatest.</p>
			</div>
		</div>
	</section>


	<section id="selected-works">

		<div class="corestr work">
			<div class="slash-left">
				<div class="work-title">
					<h2>coreSTR</h2>
					<p class="subtitle">Responsive web. UX design. Branding. Content Marketing.</p>
					<p class="btn"><a href="/work/corestr/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="recovercorp work">
			<div class="slash-left">
				<div class="work-title">
					<h2>Recovercorp</h2>
					<p class="subtitle">Responsive web. UX design. Branding.</p>
					<p class="btn"><a href="/work/recovercorp/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="adamos work">
			<div class="slash-left">
				<div class="work-title">
					<h2>Adamos Pasta</h2>
					<p class="subtitle">Responsive web. UX design. Branding.</p>
					<p class="btn"><a href="/work/adamos-pasta/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="getex work">
			<div class="slash-left">
				<div class="work-title">
					<h2>Getex</h2>
					<p class="subtitle">Responsive web. UX design.</p>
					<p class="btn"><a href="/work/getex/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
	
	
		<div class="shade-sail-sydney work">
			<div class="slash-left">
				<div class="work-title">
					<h2>Shade Sail Sydney</h2>
					<p class="subtitle">Responsive web. UX design. Branding.</p>
					<p class="btn"><a href="/work/shade-sail-sydney/" class="arrow-right">Take a look</a></p>
				</div>
			</div>
		</div>
			
	</section>

	<section id="up-next">
		<div class="container">
			<div class="row">
				<div class="next-title">
					<p class="pretitle">Up Next:</p>
					
					
					<a href="http://patkay.com.au/work/corestr/" title="coreSTR"><h2>coreSTR</h2></a>

									</div>
			</div>
		</div>
	</section>
	
</div><!-- #itsawrap -->


{%endblock%}